* {
    font-family: 'Poppins', sans-serif;
}

body {
    background-image: url("../img/mickeyBackground2.jpg");
}

h1 {
    text-align: center;
    font-family: 'Mouse Memoirs', sans-serif;
    color: white;
    font-size: 60px;
    margin-bottom: 0;
}

h2 {
    text-align: center;
    color: white;
    margin-top: 0;
    font-size: 19px;
    font-family: 'Poppins', sans-serif;
}

header {
    background-color: rgb(192, 14, 14);
}

p {
    font-family: 'Poppins', sans-serif;
}

.footer {
    background-color: rgba(253, 207, 2, 1);
    height: 50px;
}

/* class selectors */
.container {
    color: white;
    background-color: black;
}

.mickeyMouse {
    width: 405px;
    height: 475px;
    margin-right: 9px;
}

.copyright {
    margin-left: 10px;
    float: left;
    margin-top: 15px;
}

.icons {
    margin-right: 10px;
    margin-bottom: 5px;
    float: right;
}

.social {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-top: 5px;
    margin-left: 5px;
}


/* resume page */
.downloadIcon {
    height: 30px;
    width: 30px;
    border-radius: 50%;
}

.resume {
    text-align: center;
}

.resume-background {
    background-color: transparent;
}

.resumeImg {
    border: solid black 2px;
}

/* contact page */
form {
    margin-top: 10px;
    margin-bottom: 10px;
}

.send-btn {
    margin-bottom: 10px;
}

/* portfolio page */
.portfolioGrid {
    text-align: center;
    border: white 2px solid;
}

.portfolioPictures {
    width: 350px;
    height: 250px;
}

.portfolio-borders {
    border-bottom: solid white 2px;
    border-top: solid white 2px;
}

.rps {
    /* border: solid white 1px; */
}